@media only screen and (min-width:992px) and (max-width:1300px) {
    .nav-links {
        display: none;
    }

    .bar-lines {
        display: flex;
        top: 0;
        order: 5;
        position: relative;
        font-size: 30px;
    }

    section nav .btn2 {
        font-size: 25px;
        font-weight: 600;
    }

    section nav .btn1 {
        font-size: 25px;
        font-weight: 600;
    }

    .bar-menu {
        width: 100vw;
        padding: 10px 53px;
        position: fixed;
        left: 40px;
        right: 0;
        transform: translateX(0);
    }

    .menu-nav {
        padding: 19px 39px;
        font-size: 25px;
    }

    .bar-lines:hover .bar-menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        order: 1;
    }

    .blue-button {
        order: 2;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper-text {
        width: 100%;
        height: 100%;
    }

    .wrapper-text h4 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .wrapper-text h1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .wrapper-text p {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .herobutton-content {
        display: flex;
    }

    .btn3 {
        font-size: 20px;
    }

    .btn4 {
        font-size: 20px;
    }

    section .imges {
        display: flex;
        justify-content: space-evenly;
    }

    .img-shows {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders {
        width: 43%;
    }

    .carders h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .carders p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .timetable {
        width: 100%;
    }

    .time-back {
        height: 60vh;
    }

    .shows-schedule {
        flex-direction: column;
        gap: 4rem;
    }

    .schedule-text {
        font-size: 25px;
        letter-spacing: 1px;
        gap: 7rem;
    }

    .shows-schedule span {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .shows-schedule p {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .max-content {
        display: none;
    }

    .max-content1 {
        display: block;
        width: 100%;
    }

    .max-link {
        padding: 80px 10px;
        width: 100%;
    }

    .max-link h2 {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    #max-content {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn5 {
        font-size: 15px;
    }

    .img-shows2 {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders2 {
        width: 43%;
    }

    .carders2 h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders2 h2 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .carders2 p {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .max-footer {
        width: 100%;
    }

    .footer-content p {
        font-size: 25px;
        font-weight: bold;
    }

    .footer-banner {
        width: 100%;
        height: 100%;
    }

    .footer-banner-content a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .footer-banner-links a {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .footer-banner-text {
        font-size: 20px;
        letter-spacing: 2px;
    }
}

@media only Screen and (min-width:769px) and (max-width:991px) {
    .nav-links {
        display: none;
    }

    .bar-lines {
        display: flex;
        top: 0;
        position: relative;
        order: 5;
    }

    section nav .btn2 {
        font-size: 20px;
        font-weight: 600;
    }

    section nav .btn1 {
        font-size: 20px;
        font-weight: 600;
    }

    .bar-menu {
        width: 100vw;
        padding: 10px 53px;
        position: fixed;
        left: 40px;
        right: 0;
        transform: translateX(0);
    }

    .menu-nav {
        padding: 30px 39px;
        font-size: 18px;
    }

    .bar-lines:hover .bar-menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        order: 1;
    }

    .blue-button {
        order: 2;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper-text {
        width: 100%;
        height: 100%;
    }

    .wrapper-text h4 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .wrapper-text h1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .wrapper-text p {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .herobutton-content {
        display: flex;
    }

    .btn3 {
        font-size: 20px;
    }

    .btn4 {
        font-size: 20px;
    }

    section .imges {
        display: flex;
        justify-content: space-evenly;
    }

    .img-shows {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders {
        width: 43%;
    }

    .carders h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .carders p {
        font-size: 22px;
        letter-spacing: 2px;
    }

    .timetable {
        width: 100%;
    }

    .time-back {
        height: 60vh;
    }

    .shows-schedule {
        flex-direction: column;
        gap: 4rem;
    }

    .schedule-text {
        font-size: 25px;
        letter-spacing: 1px;
        gap: 7rem;
    }

    .shows-schedule span {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .shows-schedule p {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .max-content {
        display: none;
    }

    .max-content1 {
        display: block;
        width: 100%;
    }

    .max-link {
        padding: 80px 10px;
        width: 100%;
    }

    .max-link h2 {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    #max-content {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn5 {
        font-size: 15px;
    }

    .img-shows2 {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders2 {
        width: 43%;
    }

    .carders2 h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders2 h2 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .carders2 p {
        font-size: 22px;
        letter-spacing: 2px;
    }

    .max-footer {
        width: 100%;
    }

    .footer-content p {
        font-size: 25px;
        font-weight: bold;
    }

    .footer-banner {
        width: 100%;
        height: 100%;
    }

    .footer-banner-content a {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .footer-banner-links a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .footer-banner-text {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .nav-links {
        display: none;
    }

    .bar-lines {
        display: flex;
        top: 0;
        position: relative;
        order: 5;
    }

    section nav .btn2 {
        font-size: 15px;
        font-weight: 600;
    }

    section nav .btn1 {
        font-size: 15px;
        font-weight: 600;
    }

    .bar-menu {
        width: 100vw;
        padding: 10px 53px;
        position: fixed;
        left: 40px;
        right: 0;
        transform: translateX(0);
    }

    .menu-nav {
        padding: 27px 87px;
        font-size: 15px;
    }

    .bar-lines:hover .bar-menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        order: 1;
    }

    .blue-button {
        order: 2;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper-text {
        width: 100%;
        height: 100%;
    }

    .wrapper-text h4 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .wrapper-text h1 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .wrapper-text p {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .herobutton-content {
        display: flex;
    }

    .btn3 {
        font-size: 15px;
    }

    .btn4 {
        font-size: 15px;
    }

    section .imges {
        display: flex;
        justify-content: space-evenly;
    }

    .img-shows {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders {
        width: 43%;
    }

    .carders h4 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .carders h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .carders p {
        font-size: 17px;
        letter-spacing: 2px;
    }

    .timetable {
        width: 100%;
    }

    .time-back {
        height: 60vh;
    }

    .shows-schedule {
        flex-direction: column;
        gap: 4rem;
    }

    .schedule-text {
        font-size: 20px;
        letter-spacing: 1px;
        gap: 7rem;
    }

    .shows-schedule span {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .shows-schedule p {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .max-content {
        display: none;
    }

    .max-content1 {
        display: block;
        width: 100%;
    }

    .max-link {
        padding: 80px 10px;
        width: 100%;
    }

    .max-link h2 {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    #max-content {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn5 {
        font-size: 15px;
    }

    .img-shows2 {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carders2 {
        width: 43%;
    }

    .carders2 h4 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .carders2 h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders2 p {
        font-size: 17px;
        letter-spacing: 2px;
    }

    .max-footer {
        width: 100%;
    }

    .footer-banner {
        width: 100%;
        height: 100%;
    }

    .footer-banner-content a {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .footer-banner-links a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .footer-banner-text {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width:575px) {
    .nav-links {
        display: none;
    }

    .bar-lines {
        display: flex;
        top: 0;
        position: relative;
        order: 5;
    }

    section nav .logo img {
        margin: 40%;
    }

    section nav .btn2 {
        padding: 6px 3px;
        font-size: 12px;
    }

    section nav .btn1 {
        padding: 5px 4px;
        font-size: 12px;
    }

    .bar-menu {
        width: 100vw;
        padding: 10px 53px;
        position: fixed;
        left: 40px;
        right: 0;
        transform: translateX(0);
    }

    .menu-nav {
        padding: 12px 80px;
        font-size: 14px;
    }

    .bar-lines:hover .bar-menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        order: 1;
    }

    .blue-button {
        order: 2;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper-text {
        width: 100%;
        height: 117%;
    }

    .wrapper-text h4 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .wrapper-text h1 {
        font-size: 28px;
        letter-spacing: 2px;
    }

    .wrapper-text p {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .herobutton-content {
        display: flex;
    }

    .btn3 {
        font-size: 10px;
    }

    .btn4 {
        font-size: 10px;
    }

    section .imges {
        display: flex;
        justify-content: space-evenly;
    }

    .img-shows {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .carders {
        width: 88%;
    }

    .carders h4 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .carders h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .carders p {
        font-size: 17px;
        letter-spacing: 2px;
    }

    .timetable {
        width: 100%;
    }

    .time-back {
        height: 60vh;
    }

    .shows-schedule {
        flex-direction: column;
        gap: 4rem;
    }

    .schedule-text {
        font-size: 12px;
        letter-spacing: 1px;
        gap: 7rem;
    }

    .shows-schedule span {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .shows-schedule p {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .max-content {
        display: none;
    }

    .max-content1 {
        display: block;
        width: 100%;
    }

    .max-link {
        padding: 80px 10px;
        width: 100%;
    }

    .max-link h2 {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    #max-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .btn5 {
        font-size: 15px;
    }

    .img-shows2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .carders2 {
        width: 88%;
    }

    .carders2 h4 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .carders2 h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .carders2 p {
        font-size: 17px;
        letter-spacing: 2px;
    }

    .max-footer {
        width: 100%;
    }

    .footer-banner {
        width: 100%;
        height: 100%;
    }

    .footer-banner-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-banner-content a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .footer-banner-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-banner-links a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .footer-banner-text {
        font-size: 18px;
        letter-spacing: 1px;
    }
}